* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    letter-spacing: 1.4px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.container::after,
.container::before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.box-1 {
    width: 6.81%;
}

.box-2 {
    width: 15.15%;
}

.box-3 {
    width: 23.48%;
}

.box-4 {
    width: 31.81%;
}

.box-5 {
    width: 40.15%;
}

.box-6 {
    width: 48.48%;
}

.box-7 {
    width: 56.81%;
}

.box-8 {
    width: 65.15%;
}

.box-9 {
    width: 73.48%;
}

.box-10 {
    width: 81.81%;
}

.box-11 {
    width: 90.17%;
}

.box-12 {
    width: 98.48%;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9,
.box-10,
.box-11,
.box-12 {
    float: left;
    margin-left: 0.7575%;
    margin-right: 0.7575%;
}

.cabeca {
    background-color: #e8e8e8;
    width: 100%;
    height: 80px;
    padding: 10px;

}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

ul li {
    margin-left: 30px;
    margin-top: 10px;
}

ul li a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

/* meio  */
.texto_grande {

    font-size: 46px;
    text-align: center;
}

.faxada {
    margin-top: 100px;
}

.faxada .texto_grande {
    margin-top: 100px;
}

.faxada .texto {
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 30px;
}

.faxada .caixinha {
    background-color: #f7b06d;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

.faxada img {
    width: 100%;
    display: block;
    border-radius: 5px;

}

.faxada .img {
    padding: 30px;

}

/* sPRODUTOS */
.produtos-amostra {
    width: 100%;
    height: auto;
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(to right, #ff9595, #f7b06d);
    padding-bottom: 50px ;
    padding-top: 100px;
}
.produtos-amostra .texto_grande{
    color: white;
}
.produtos-amostra .texto_grande::after{
    content: "";
    width: 50%;
    height: 6px;
    display: block;
    background-color: white;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 10;

}
.produtos-amostra .box-3{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .15s ease-in-out;
}
.produtos-amostra .box-3:hover{
    transform: scale(1.1);
}

.produtos-amostra .box-3 img{
    width: 100%;
}

.sobre {
    background: linear-gradient(to right, #ff9595, #f7b06d); ;
width: 100%;
height: auto;
margin-top: 50px;
}
.sobre h2 {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 46px;
}
.sobre h2::after{
    content: "";
    width: 60%;
    height: 6px;
    display: block;

    background-color: white;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 10;
}
.sobre .texto_grande {
    color: white;
    text-align: center;
    margin-top: 100px;
}
.sobre img {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-top: 50px;
}
.sobre h3{
    color: white;
    display: block;
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
    font-weight: 500;
}
.sobre .historia {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.contato {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 100px;
    text-align: center  ;
    background:linear-gradient(to right, #ff9595, #f7b06d); ;
}
.contato h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color:white;
}
.contato .dados_contatos {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

